<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
  
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
        />
    <!-- Css lokal-->
        <title>Admin Panel</title>
    </head>
 
    <body>

            <h1> welcome admin</h1>
            <div class="container">
                <h3>Table Data User</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <thead>
                                <th scope="col">User ID</th>
                                <th scope="col">Username</th>
                                <th scope="col">Password</th>
                            </thead>
                        </tr>
                    </thead>
                    <tbody>
                        <% dataUser?.forEach(i => { %>
                            <tr>
                                <th scope="row"><%=i.id%></th>
                                <td><%=i.username%></td>
                                <td><%=i.password%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
            
            <div class="container">
                <h3>Table Data Room</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <thead>
                                <th scope="col">Room ID</th>
                                <th scope="col">Room Name</th>
                                <th scope="col">Score Player 1</th>
                                <th scope="col">Score Player 2</th>
                            </thead>
                        </tr>
                    </thead>
                    <tbody>
                        <%dataRoom.forEach(i =>{%>
                            <tr>
                                <th scope="row"><%=i.id%></th>
                                <td><%=i.roomname%></td>
                                <td><%=i.scorePlayer1%></td>
                                <td><%=i.scorePlayer2%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
            
            <div class="container">
                <h3>Table Data User History</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <thead>
                                <th scope="col">ID User History</th>
                                <th scope="col">ID user</th>
                                <th scope="col">Total Win</th>
                            </thead>
                        </tr>
                    </thead>
                    <tbody>
                        <%dataUserHistory.forEach(i =>{%>
                            <tr>
                                <th scope="row"><%=i.id%></th>
                                <td><%=i.idPlayer%></td>
                                <td><%=i.currentScore%></td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
            </div>
            

    
    
    </body>