<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Room Page</title>
    </head>
    <body>
        <h1>Create Room</h1>
        <form action="/create-room" method="POST">
            <div>
                <input type="text" name="roomname" placeholder="Input roomname"></input>
            </div>

            <button type="submi">Create Room</button>
        </form>
    </body>
</html>